
.footer {
    position: relative;
    height: 150px;
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #373433;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 0;
}

.footer .content{
    top: 2rem;
}

.footer small {
    text-align: center;
}