.footer {
    height: 150px;
    position: relative;
    width: 100%;
    color: #fff;
    background-color: #002147;
    text-align: center;
    margin-top: 5rem;
    bottom: 0;
    padding:20px 0;
}

.footer .content{
    /* top: 2rem; */
}

.footer small {
    text-align: center;
}